{% extends 'layouts/minimal.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block content %}

    <form class="form-signin" role="form" action="{{ path('login-check') }}" method="post">
        {{ error }}
        <input type="email"  name="_username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password"  name="_password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="displayPassword"> Affichez le mot de passe.
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Me connecter</button>
    </form>
    <p class="heading">OU</p>
    <a class="btn-register btn btn-lg btn-primary btn-block" href="{{ path('register') }}" >Me créer un compte</a>

    <a class="btn-reset-password" href="{{ path('reset-password') }}">Oups, mon mot de passe....</a>
{% endblock %}

{% block js %}

    <script src="/assets/vendor/jquery/dist/jquery.js"></script>
    <script src="/assets/js/login/commons.js"></script>

{% endblock %}

