{% extends 'layouts/global.html.twig' %}

{% block headjs %}
    {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/core.css">
{% endblock %}

{% block container_classes %}core{% endblock %}

{% block header %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Wampigraph</a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                    <li class="{{ wg_route_is_active('home')}}"  ><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="{{ wg_route_is_active('my-wampums') }}"><a href="{{ path('my-wampums') }}">Mes wampums</a></li>
                    <li class="{{ wg_route_is_active('my-patterns') }}"><a href="{{ path('my-patterns') }}">Mes motifs</a></li>
                    <li class="{{ wg_route_is_active('painter') }}"><a href="{{ path('painter') }}">Créer un wampum</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}{% endblock %}

